@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

global-reset()
reset-html5()

// Defaults
font-main = sans-serif
height = 26px

html, body
	font: 14px font-main
	background: #000
	cursor: default
	-webkit-user-select: none
	text-shadow: 0 1px 0 rgba(#000, .8)
	overflow: hidden

#statusline-bg
	width = 1920px
	height = height
	blur = 2px

	position: absolute
	background: url("/home/kim/bg.jpg") blur blur

	top: -(blur)
	left: -(blur)

	width: width + (blur * 2)
	height: height + (blur * 4)
	-webkit-filter: blur(blur) grayscale(100%)

	z-index: 10

	&:after
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		content: ''
		background: linear-gradient(top, rgba(#000, .4), rgba(#000, .8))

#statusline
	position: relative
	z-index: 11

	height: height - 1px
	line-height: height
	//background: linear-gradient(top, #444, #222)
	color: #fff

	border-bottom: 1px solid rgba(#000, .5)

	div, ul, li
		display: inline-block
		vertical-align: top
		white-space: nowrap

	i
		display: inline-block
		background: linear-gradient(top, rgba(#fff, 1), rgba(#fff, .7))
		text-shadow: none
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		margin: 0 5px 0 0
		&:after
			background: none
			content: attr(data-text)
			left: 0
			position: absolute
			text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.33)
			top: 0
			z-index: -1

	#left
		float: left
		& > div:not(:first-child),
		& > ul:not(:first-child)
			margin: 0 0 0 20px

	#right
		float: right
		& > div:not(:last-child),
		& > ul:not(:last-child)
			margin: 0 20px 0 0

	#tags
		li
			padding: 0 10px
			line-height: height - 2px
			margin: 1px
			border-radius: 3px
			cursor: pointer
			position: relative

			&:hover
				background: rgba(#fff, .1)

			&.selected
				background: rgba(#fff, .2)
				color: #fff
				text-shadow: 0 -1px 0 #000
				font-weight: bold

			.windows
				position: absolute
				content: ' '
				width: 4px
				height: 4px
				border-radius: 1px
				background: rgba(#fff, .5)
				top: 2px
				right: 2px
	#date
		color: #eee

	#time
		font-weight: bold
		margin: 0 10px 0 0

	#notification
		li
			border-radius: 2px
			margin: 0 0 0 5px
			padding: 0 7px
			font-size: 12px
			font-weight: bold
			height: height - 4px
			cursor: pointer
			line-height: height - 2px
			box-shadow: inset 0 -1px 1px 0 rgba(#000, .2), inset 0 1px 1px 0 rgba(#fff, .2)
			.icon
				margin: 0 5px 0 0
			.close
				opacity: .5
				margin: 0 0 0 5px
			&.error
				col = rgba(#d32)
				background: linear-gradient(top, col, darken(col, 10))
			&.warn
				col = rgba(#e92)
				background: linear-gradient(top, col, darken(col, 10))
			&:hover
				.close
					opacity: 1

	#player
		i.fa
			margin: 0 5px
		.progress
			background: linear-gradient(top, rgba(#fff, .2), rgba(#fff, .4))
			border-radius: 2px
			width: 100px
			height: 4px
			position: relative
			margin: 11px 10px 0 10px
			.bar
				height: 4px
				border-radius: 2px
				background: linear-gradient(top, rgba(#fff, .7), rgba(#fff, .4))
				position: absolute
		.time
			margin: 0 10px
			.end
				font-size: 10px
				opacity: .8
				&:before
					content: ' / '
		.song
			width = 200px
			margin: 0 10px
			max-width: width
			height: height
			line-height: height
			overflow: hidden
			text-overflow: clip
			-webkit-mask-image: -webkit-linear-gradient(left, rgba(#000, 1), rgba(#000, 1) width - 30px, rgba(#000, 0) width)
			.artist
				display: inline
				opacity: .8
				&:after
					font-family: 'FontAwesome'
					content: '\f105'
					margin: 0 5px
					opacity: .6
			.title
				display: inline


	#volume
		.progress
			background: linear-gradient(top, rgba(#000, .5), rgba(#000, 0))
			box-shadow: inset 0 1px 1px #000, inset 0 -1px 1px rgba(#fff, .4)
			border-radius: 5px
			width: 100px
			height: 14px
			position: relative
			top: 7px
			margin: 0 0 0 5px
			.bar
				height: 10px
				border-radius: 5px
				col = #aaa
				background: linear-gradient(top, col, darken(col, 20))
				position: absolute
				top: 2px
				left: 2px
				box-shadow: inset 0 1px 1px lighten(col, 10), inset 0 -1px 1px darken(col, 20)
